
	<h1> This is the Article detail showing page</h1>
	<div class="row">
		<div class="col-4">
			<%= image_tag @article.image, style: "width: 300px; display:block" if @article.image.attached? %>
		</div>
		<%if @article && @article.image.attached?%>
			<div>
				<%= link_to "Delete image", purge_image_article_path(@article), class: "btn btn-outline-danger",method: :delete, data: {confirm: "Are you sure?"} %>
			</div>
		<%end%> 
			
		<div class="col-8">
			<p><strong>Title: </strong><%= @article.title %></p>
			<p><strong>Description: </strong><%= @article.description %></p>
			<p><strong>Status: </strong><%= @article.status %></p>
		</div>
	</div>
	<%
=begin%>
 <strong>Rating: </strong>
	<%= render partial: 'ratings/form', locals: {article: @article}%>
	<p> 
<%
=end%>
		<strong>Comment: </strong>
		<%= render partial: 'comments/comment', collection: @article.comments %>
		<%= render partial: 'comments/form', locals: {article: @article}%>
	</p>
	<%= link_to 'Return to articles listing', articles_path %>
